body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    width: 80%;
    max-width: 400px;
    background-color: #9b59b6; /* Base color */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

#card.revealed {
    background-color: #8e44ad; /* Darker shade */
}

#card.revealed:hover {
    background-color: #7d3c98; /* Even darker shade on hover */
}

h1 {
    color: #fff; /* White text color */
    font-size: 1.8em;
    margin-bottom: 20px;
}

p{
    color: rgb(12, 11, 11);
    font-weight: 500;
}

button {
    background-color: #6c3483; /* Matching button color */
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #5b2c76; /* Darker shade on hover */
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

#message.reveal {
    opacity: 1;
}

@media (max-width: 600px) {
    #card {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
    }

    #message {
        font-size: 1em;
    }
}
